@import "src/assets/scss/modules/variables";

.input-field {
  border-radius: $border-radius;
  border-color: $white;
  width: 230px;
  height: 1.3rem;
  background-color: $white;
  padding: 0.5rem 0.9rem;
  color: $colorgray;
}