<mat-card class="dialog-header">
    <h1 mat-dialog-title>
        {{'active-patients-module.dialog.remove_biosensor' | translate}}
    </h1>
  </mat-card>
  
  <mat-dialog-content class="mat-dialog-popup remove-dialog" cdkInitialFocus>
    <div class="dialog-form">
      <p>
        {{'active-patients-module.dialog.remove_biosensor_message' | translate}}
      </p>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions >
    <button
      mat-flat-button
      color="primary"
      mat-dialog-close
      class="fill-btn"
    >
      {{ "active-patients-module.button.ok" | translate }}
    </button>
  </div>
  