<mat-card class="dialog-header">
    <h1 mat-dialog-title>
        {{ modalTitle | translate}}
    </h1>
    <!--<button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>-->
</mat-card>
<mat-dialog-content cdkFocusInitial tabindex="-1" class="mat-dialog-popup">
    <form [formGroup]="newPatientForm" class="dialog-form" autocomplete="off">
        <div class="row">
            <div class="col-md-6">
                <mat-label class="matlabel">{{ "active-patients-module.form_label.patient_id" | translate }}
                    <span *ngIf="!isEdit" class="required-field">*</span>
                    <span *ngIf="isEdit" class="required-field cannotEdit">{{ "active-patients-module.form_label.cannot_edit" | translate }}</span>
                </mat-label>
                <mat-form-field appearance="fill" class="formfield-control editplaceholder" [class.disabled]="isEdit" [ngClass]="newPatientForm.get('patientId').hasError('validatePatientId')  &&  newPatientForm.get('patientId').touched && newPatientForm.get('patientId').value != '' ? 'error-msg': ''">
                    <input matInput formControlName="patientId" minlength="3" maxlength="13" [class.disabled]="isEdit" [readonly]="isEdit" *ngIf="selectedTab === 'ACTIVE_PATIENT' || isEdit" name="option" [matAutocomplete]="discharged" (keyup)="fetchPatientDetails($event, 'keyup')"
                    (paste)="fetchPatientDetails($event, 'paste')" (keypress)="alphaNumericsOnly($event)"/>
                    <mat-autocomplete #discharged="matAutocomplete" (optionSelected)="patientSelected($event)">
                        <mat-option *ngFor="let dischargedPatient of dischargedPatients" [value]="dischargedPatient.patientId">
                            {{dischargedPatient.patientId}} - {{dischargedPatient.firstName}} {{dischargedPatient.lastName}}
                        </mat-option>
                    </mat-autocomplete>
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="patientId" name="option" [matAutocomplete]="auto" minlength="3" maxlength="13"
                           *ngIf="selectedTab === 'ASSIGN_PATIENT'" (blur)="populatePatient($event)" (keyup)="searchPatient($event, 'keyup')" (paste)="searchPatient($event, 'paste')" (keypress)="alphaNumericsOnly($event)">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                        <mat-option *ngFor="let patient of patientData" [value]="patient.patientId">
                            {{patient.patientId}} - {{patient.firstName}} {{patient.lastName}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="!newPatientForm.get('patientId').hasError('required') && newPatientForm.get('patientId').hasError('validatePatientId')">
                        {{"active-patients-module.errors.invalidPatientIdPattern" | translate}}
                    </mat-error>
                    <mat-error *ngIf="newPatientForm.get('patientId').hasError('required') && submitted">
                        {{"active-patients-module.errors.required" | translate}}
                    </mat-error>
                    <mat-error *ngIf="newPatientForm.get('patientId').hasError('minlength') && !newPatientForm.get('patientId').hasError('validatePatientId')">
                        {{"active-patients-module.errors.minLength" | translate}}
                    </mat-error>
                    <mat-icon class="cursor-pointer" color="primary" *ngIf="(isSelectedFromAuto || autoCompleted) && loadState !== 'LOADING'" (click)="onClickClearAuto()" matSuffix>
                        close</mat-icon>
                    <mat-progress-spinner diameter="30" strokeWidth="3" *ngIf="loadState === 'LOADING'" mode="indeterminate" color="primary" matSuffix></mat-progress-spinner>
                </mat-form-field>
                <mat-hint *ngIf="!newPatientForm.get('patientId').hasError('validatePatientId') || newPatientForm.get('patientId').hasError('required')" class="auto-gen d-flex" [ngClass]="selectedTab === 'ASSIGN_PATIENT' ? 'justify-content-between' : 'justify-content-end'">

                    <div>
                        <span *ngIf="selectedTab === 'ASSIGN_PATIENT' && !isSelectedFromAuto && !isEdit && !newPatientForm.get('patientId').hasError('validatePatientId') && !(newPatientForm.get('patientId').hasError('required') && newPatientForm.get('patientId').touched) && !newPatientForm.get('patientId').hasError('minlength')">
                            {{ "active-patients-module.form_label.id_desc_assign" | translate }}
                        </span>
                    </div>

                    <div class="cursor-pointer" (click)="getAutogeneratedPatientId()" *ngIf="!isEdit && !isSelectedFromAuto && !autoCompleted"><img  src="assets/icons/refresh-icon.svg" alt="image" class="me-1" /> {{ "active-patients-module.form_label.autogenerate_new_id" | translate }}
                    </div>
                </mat-hint>
            </div>
            <div class="col-md-6">
                <mat-label class="matlabel">{{ "active-patients-module.form_label.admission_id" | translate }}
                    <span *ngIf="!isEdit" class="required-field">*</span>
                    <span *ngIf="isEdit" class="required-field cannotEdit">{{ "active-patients-module.form_label.cannot_edit" | translate }}</span>
                </mat-label>
                <mat-form-field appearance="fill" class="formfield-control editplaceholder" [class.disabled]="isEdit" [ngClass]="newPatientForm.get('admissionId').hasError('validatePatientId')  &&  newPatientForm.get('admissionId').touched && newPatientForm.get('admissionId').value != '' ? 'error-msg': ''">
                    <input matInput formControlName="admissionId" minlength="3" maxlength="13" [(ngModel)]="admissionId" [readonly]="isEdit" autocomplete="off" (keypress)="alphaNumericsOnly($event)"/>
                    <mat-error *ngIf="newPatientForm.get('admissionId').hasError('required') && submitted">
                        {{"active-patients-module.errors.required" | translate}}
                    </mat-error>
                    <mat-error *ngIf="!newPatientForm.get('admissionId').hasError('required') && newPatientForm.get('admissionId').hasError('validatePatientId')">
                        {{"active-patients-module.errors.invalidAdmissionIdPattern" | translate}}
                    </mat-error>
                    <mat-error *ngIf="newPatientForm.get('admissionId').hasError('minlength') && !newPatientForm.get('admissionId').hasError('validatePatientId')">
                        {{"active-patients-module.errors.minLength" | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-label class="matlabel">{{ "active-patients-module.form_label.first_name" | translate }}
                    <span *ngIf="!isEdit" class="required-field">*</span>
                    <span *ngIf="isEdit" class="required-field cannotEdit">{{ "active-patients-module.form_label.cannot_edit" | translate }}</span>
                </mat-label>
                <mat-form-field appearance="fill" class="formfield-control" [class.disabled]="isEdit" [ngClass]="newPatientForm.get('firstName').hasError('pattern') && newPatientForm.get('firstName').touched ? 'error-msg': ''">
                    <input autocomplete="off" matInput formControlName="firstName" (keypress)="charsOnly('firstName', $event)" [readonly]="isEdit" class="firstName"
                    maxlength="25"/>
                    <mat-error *ngIf="newPatientForm.get('firstName').hasError('mustCharsOnly')">
                        {{"active-patients-module.errors.mustCharsOnly" | translate}}
                    </mat-error>
                    <mat-error *ngIf="newPatientForm.get('firstName').hasError('required') && submitted" >
                        {{"active-patients-module.errors.required" | translate}}
                    </mat-error>
                    <mat-error *ngIf="newPatientForm.get('firstName').hasError('invalidRange') ">
                        {{"First "+("active-patients-module.errors.invalid_range_for_name" | translate)}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-label class="matlabel">{{ "active-patients-module.form_label.last_name" | translate }}
                    <span *ngIf="!isEdit" class="required-field">*</span>
                    <span *ngIf="isEdit" class="required-field cannotEdit">{{ "active-patients-module.form_label.cannot_edit" | translate }}</span>
                </mat-label>
                <mat-form-field appearance="fill" class="formfield-control" [class.disabled]="isEdit" [ngClass]="newPatientForm.get('lastName').hasError('pattern') && newPatientForm.get('lastName').touched ? 'error-msg': ''">
                    <input autocomplete="off" matInput formControlName="lastName" (keypress)="charsOnly('lastName', $event)" [readonly]="isEdit" class="firstName"
                           maxlength="25"/>
                    <mat-error>
                        <mat-error *ngIf="newPatientForm.get('lastName').hasError('mustCharsOnly')">
                            {{"active-patients-module.errors.mustCharsOnly" | translate}}
                        </mat-error>
                        <mat-error *ngIf="newPatientForm.get('lastName').hasError('required') && submitted">
                            {{"active-patients-module.errors.required" | translate}}
                        </mat-error>
                        <mat-error *ngIf="newPatientForm.get('lastName').hasError('invalidRange')">
                            {{"Last "+("active-patients-module.errors.invalid_range_for_name" | translate)}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <mat-label class="matlabel">{{ "active-patients-module.form_label.dob" | translate }}
                            <span class="required-field">*</span>
                        </mat-label>
                        <mat-form-field appearance="fill" class="formfield-control">
                            <input matInput formControlName="dob" [matDatepicker]="picker" [min] = "minDOB" [max]="maxDOB" readonly (click)="picker.open()" />
                            <mat-datepicker-toggle matSuffix [for]="picker" class="matdate-picker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="newPatientForm.get('dob').hasError('required') && submitted">
                                {{"active-patients-module.errors.required" | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-label class="matlabel">{{ "active-patients-module.form_label.gender" | translate }}
                            <span class="required-field">*</span>
                        </mat-label>
                        <mat-form-field appearance="fill" class="formfield-control">
                            <mat-select formControlName="gender">
                                <mat-option value="MALE">Male</mat-option>
                                <mat-option value="FEMALE">Female</mat-option>
<!--                                <mat-option value="OTHER">Other</mat-option>-->
                            </mat-select>
                            <mat-error *ngIf="newPatientForm.get('gender').hasError('required') && submitted">
                                {{"active-patients-module.errors.required" | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <mat-label class="matlabel">{{ "active-patients-module.form_label.phone_number" | translate }}
                    <span class="required-field">*</span>
                </mat-label>
                <app-tel-input autocomplete="off" [class.disabled]="newPatientForm.get('phoneNo').disabled" (click)="newPatientForm.get('phoneNo').markAsTouched()" formControlName="phoneNo" [ngClass]="{ 'is-invalid':  newPatientForm?.controls?.phoneNo.errors }"></app-tel-input>
                <mat-error *ngIf="newPatientForm.get('phoneNo')?.touched && newPatientForm.get('phoneNo').hasError('required') && submitted" class="mt-2 required">
                    {{ "manage_users_module.adduser.phoneno_required" | translate }}
                </mat-error>
                <mat-error *ngIf="newPatientForm.get('phoneNo').hasError('phoneNumberInvalid')" class="mt-2 required">
                    {{ "manage_users_module.adduser.invalid_phoneno" | translate }}
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-label class="matlabel" for="email">{{ "active-patients-module.form_label.email" | translate }}
                </mat-label>
                <mat-form-field appearance="fill" class="formfield-control" [ngClass]="newPatientForm.get('lastName').hasError('pattern') && newPatientForm.get('lastName').touched ? 'error-msg': ''">
                    <input autocomplete="off"
                        matInput
                        type="email"
                        formControlName="email"
                        [maxlength]="320"
                        id="email"
                        placeholder="Email"/>
                    <mat-error>
                        <mat-error *ngIf="newPatientForm.get('email').hasError('email')" class="mt-2 required">
                            {{ "manage_users_module.adduser.invalid_email" | translate }}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <mat-label class="matlabel">{{ "active-patients-module.form_label.weight" | translate }}
                        </mat-label>
                        <mat-form-field appearance="fill" class="formfield-control" [ngClass]="newPatientForm.get('weight').hasError('invalidWeightKG')  && newPatientForm.get('weight').touched && newPatientForm.get('weight').value != '' ? 'error-msg': ''"> 
                            <input matInput type="number" autocomplete="off" formControlName="weight" (keypress)="floatOnly('keyboard', $event)" (change)="onWeightUnitChange()" [min]="minMaxValues['weight'][this.weightUnit]['min']" [max]="minMaxValues['weight'][this.weightUnit]['max']"
                            (paste)="floatOnly('paste', $event)"/>
                            <mat-error>
                                <span *ngIf="newPatientForm.get('weight').hasError('invalidWeightAndHeightValue')">
                                    {{"active-patients-module.errors.invalidValue" | translate}}
                                </span>
                                <span *ngIf="newPatientForm.get('weight').hasError('invalidWeightKG')">{{"active-patients-module.errors.invalidWeightKG"
                                    | translate}}</span>
                                <span *ngIf="newPatientForm.get('weight').hasError('invalidWeightPOUND')">{{"active-patients-module.errors.invalidWeightPOUND"
                                    | translate}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-label class="matlabel">{{ "active-patients-module.form_label.unit" | translate }}
                        </mat-label>
                        <mat-form-field appearance="fill" class="formfield-control">
                            <mat-select formControlName="weightUnit" [disabled]="true" [(ngModel)]="this.weightUnit" [compareWith]="ignoreCase" (selectionChange)="onWeightUnitChange()">
                                <mat-option value="KG">KG</mat-option>
                                <mat-option value="POUND">POUND</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <mat-label class="matlabel">{{ "active-patients-module.form_label.height" | translate }}
                        </mat-label>
                        <mat-form-field appearance="fill" class="formfield-control" [ngClass]="newPatientForm.get('height').hasError('invalidHeightCM')  && newPatientForm.get('height').touched && newPatientForm.get('height').value != '' ? 'error-msg': ''">
                            <input autocomplete="off" matInput type="number" formControlName="height" (keypress)="floatOnly('keyboard', $event)" (change)="onHeightUnitChange()" [min]="minMaxValues['height'][this.heightUnit]['min']" [max]="minMaxValues['height'][this.heightUnit]['max']"
                                   (paste)="floatOnly('paste', $event)"/>
                            <mat-error>
                                <span *ngIf="newPatientForm.get('height').hasError('invalidWeightAndHeightValue')">
                                   {{"active-patients-module.errors.invalidValue" | translate}}
                                </span>

                                <span *ngIf="newPatientForm.get('height').hasError('invalidHeightCM')">{{"active-patients-module.errors.invalidHeightCM"
                                    | translate}}</span>
                                <span *ngIf="newPatientForm.get('height').hasError('invalidHeightINCH')">{{"active-patients-module.errors.invalidHeightINCH"
                                    | translate}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-label class="matlabel">{{ "active-patients-module.form_label.unit" | translate }}
                        </mat-label>
                        <mat-form-field appearance="fill" class="formfield-control">
                            <mat-select formControlName="heightUnit" [disabled]="true" [compareWith]="ignoreCase" [(ngModel)]="this.heightUnit" (selectionChange)="onHeightUnitChange()">
                                <mat-option value="CM">CM</mat-option>
                                <mat-option value="INCH">INCH</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row separate-line">
            <div class="col-md-6 pd0">
                <mat-label class="matlabel">{{ "active-patients-module.form_label.doctor_name" | translate }}
                </mat-label>
                    <app-matselect-withsearch class="matselect-search" [items]="activeDoctorsList" [key]="'displayName'" [value]="'id'"
                        [selected]="newPatientForm.get('doctorId')?.value" (valueUpdated)="selectDoctor($event)"></app-matselect-withsearch>
            </div>
            <div class="col-md-6 pd0">
                <div class="row">
                    <div class="col-md-6">
                        <mat-label class="matlabel">{{ "active-patients-module.form_label.group" | translate }}
                        </mat-label>
                        <!--                        <mat-form-field appearance="fill" class="formfield-control">-->
                        <!--                            <mat-label>{{ "active-patients-module.form_label.location" | translate }}</mat-label>-->
                        <!--                            <mat-select formControlName="pGroup" #pGroup [compareWith]="compareObjects">-->
                        <!--                                <mat-option>Select</mat-option>-->
                        <!--                                <mat-option [value]="group" *ngFor="let group of locationGroups$ | async">-->
                        <!--                                    {{group?.name}}-->
                        <!--                                </mat-option>-->
                        <!--                            </mat-select>-->
                        <!--                            &lt;!&ndash;<mat-icon matSuffix color="primary" (click)="pGroup.value=null">close</mat-icon>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;<mat-icon matSuffix color="primary" (click)="newPatientForm.get('pGroup').setValue(null)">close</mat-icon>&ndash;&gt;-->
                        <!--                            <mat-icon matSuffix color="primary" (click)="clearSelect('pGroup',$event)">close</mat-icon>-->
                        <!--                        </mat-form-field>-->
                        <app-nested-dropdown class="nested-selectfilter form-select groupselectfilter toplabel-no" [selectedValue]="newPatientForm?.controls?.pGroup?.value" key="groupId" displayKey="name" [label]="'active-patients-module.form_label.location' | translate" (selected)="onGroupSelected('pGroup', $event)"
                            [options]="locationGroups$ | async" [assignGroup]="true">
                        </app-nested-dropdown>
                    </div>
                    <div class="col-md-6">
                        <mat-label class="matlabel groupMargin">
                        </mat-label>
                        <!--                        <mat-form-field appearance="fill" class="formfield-control">-->
                        <!--                            <mat-label>-->
                        <!--                                <mat-label>{{ "active-patients-module.form_label.clinical_condition" | translate }}</mat-label>-->
                        <!--                            </mat-label>-->
                        <!--                            <mat-select [compareWith]="compareObjects" formControlName="cGroup" #cGroup>-->
                        <!--                                <mat-option>Select</mat-option>-->
                        <!--                                <mat-option *ngFor="let cgroup of clinicalGroups$ | async" [value]="cgroup">-->
                        <!--                                    {{cgroup?.name}}-->
                        <!--                                </mat-option>-->
                        <!--                            </mat-select>-->
                        <!--                            &lt;!&ndash;<mat-icon matSuffix color="primary" (click)="cGroup.value=null">close</mat-icon>&ndash;&gt;-->
                        <!--                            &lt;!&ndash; <mat-icon matSuffix color="primary" (click)="newPatientForm.get('cGroup').setValue(null)">close</mat-icon>&ndash;&gt;-->
                        <!--                            <mat-icon matSuffix color="primary" (click)="clearSelect('cGroup',$event)">close</mat-icon>-->
                        <!--                        </mat-form-field>-->
                        <app-nested-dropdown class="nested-selectfilter form-select groupselectfilter toplabel-no" [selectedValue]="newPatientForm?.controls?.cGroup?.value" key="groupId" displayKey="name" [label]="'active-patients-module.form_label.clinical_condition' | translate"
                            (selected)="onGroupSelected('cGroup', $event)" [options]="clinicalGroups$ | async" [assignGroup]="true">
                        </app-nested-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-label class="matlabel">{{ "active-patients-module.form_label.admitted_on" | translate }}
                    <span class="required-field">*</span>
                </mat-label>
                <mat-form-field appearance="fill" class="formfield-control">
                    <input matInput formControlName="startedOn" [min]="getMinAdmitTime()" [max]="getMaxAdmitTime()" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" readonly/>
<!--                    <mat-datepicker-toggle matSuffix [for]="picker2" class="matdate-picker"></mat-datepicker-toggle>-->
<!--                    <mat-datepicker #picker2></mat-datepicker>-->
                    <owl-date-time #dt1></owl-date-time>
                    <mat-error *ngIf="newPatientForm.get('startedOn').hasError('required') && submitted">
                        {{"active-patients-module.errors.required" | translate}}
                    </mat-error>
                    <mat-error *ngIf="newPatientForm.get('startedOn').hasError('matDatepickerMax')">
                        {{"active-patients-module.errors.maxAdmitDate" | translate}}
                    </mat-error>
                    <mat-icon matSuffix class="calendar-icon"  [owlDateTimeTrigger]="dt1">today</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
<!--                <div class="row">-->
                    <div>
                        <mat-label class="matlabel">{{ "active-patients-module.form_label.estimated_discharge" | translate }}
                        </mat-label>
                        <mat-form-field appearance="fill" class="formfield-control" [class.disabled]="!newPatientForm.get('startedOn').value">
                            <input matInput formControlName="estimatedDischarge" [min]="getMinDischargeDate()" [max]="getMaxDischargeDate()" [matDatepicker]="picker3" (click)="picker3.open();" [disabled]="!newPatientForm.get('startedOn').value" readonly/>
                            <mat-datepicker-toggle matSuffix [for]="picker3" class="matdate-picker" [disabled]="!newPatientForm.get('startedOn').value"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                            <mat-error *ngIf="newPatientForm.get('estimatedDischarge').hasError('matDatepickerMin')">
                                {{"active-patients-module.errors.minDischarge" | translate}}
                            </mat-error>
                            <mat-error *ngIf="newPatientForm.get('estimatedDischarge').hasError('matDatepickerMax')">
                                {{"active-patients-module.errors.maxDischarge" | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
<!--                    <div class="col-md-3" *ngIf="newPatientForm.get('startedOn').value && (isEdit || isSelectedFromAuto)">-->
<!--                        <div class="elapsed-time">-->
<!--                            <span class="counter-time pb-1">{{-->
<!--                                "active-patients-module.form_label.time_desc_1" | translate-->
<!--                                }}</span>-->
<!--                            <span class="counter-number">-->
<!--                                {{-->
<!--                               getElapsedTime()-->
<!--                                }}</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

        <div class="row biosensor-row">
            <div class="col-md-12">
                <mat-label class="matlabel">{{ "active-patients-module.form_label.biosensor_id" | translate }}
                    <span class="required-field">*</span>
                </mat-label>
                <mat-form-field appearance="fill" class="formfield-control">
                    <input autocomplete="off" matInput formControlName="patchIds" type="text" minlength="5" maxlength="5" (keypress)="alphaNumericsOnly($event)" [readonly]="isEdit || selectedTab === 'ASSIGN_PATIENT'" (click)="(isEdit || selectedTab === 'ASSIGN_PATIENT') ? openMoreInfoDialog() : ''"
                    />
                    <mat-error *ngIf="newPatientForm.get('patchIds').hasError('required') && submitted">
                        {{"active-patients-module.errors.required" | translate}}
                    </mat-error>
                    <mat-error *ngIf="(newPatientForm.get('patchIds').hasError('maxlength') || newPatientForm.get('patchIds').hasError('minlength')) && !newPatientForm.get('patchIds').hasError('biosensorPattern')">
                        {{"active-patients-module.errors.biosensorLength" | translate}}
                    </mat-error>
                    <mat-error *ngIf="newPatientForm.get('patchIds').hasError('biosensorPattern')">
                        {{"active-patients-module.errors.biosensorPattern" | translate}}
                    </mat-error>
                    <button mat-flat-button matSuffix type="button" color="primary" class="biosenser-checked">
                        <mat-icon>check</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-icon-button type="button" [matTooltip]="'active-patients-module.form_label.info_icon_label' | translate" (click)="openMoreInfoDialog()" class="info-mat">
                    <mat-icon class="material-icons-outlined">add_circle_outline</mat-icon>
                </button>
            </div>
        </div>

        <div formArrayName="deviceIds">
            <div *ngFor="let item of deviceIds.controls; let i = index">
                <div [formGroupName]="i" class="d-flex align-items-end row device-row">
                    <div class="col-md-4 col-lg-3">
                        <mat-label class="matlabel" *ngIf="i === 0">{{ "active-patients-module.form_label.third_party_device_type" | translate }}
                        </mat-label>
                        <mat-form-field appearance="fill" class="formfield-control" *ngIf="i === deviceIds.controls.length - 1">
                            <mat-select [disabled]="i + 1 !== deviceIds.controls.length || ((isEdit || isSelectedFromAuto) && deviceIds.controls.length == 2 && item.controls.deviceId.value)" formControlName="deviceType">
                                <mat-option [value]="device?.id" *ngFor="let device of thirdPartyDevices() | async">
                                    {{device?.name}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix color="primary" *ngIf="item.controls.deviceId.value && !isDisabled && !((isEdit || isSelectedFromAuto) && deviceIds.controls.length == 2)" (click)="onClickClear($event, item, 'deviceId')">close</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="formfield-control" *ngIf="i !== deviceIds.controls.length - 1" [class.disabled]="true">
<!--                            <input matInput [readonly]="true" [disabled]="true" formControlName="deviceType">-->
                            <mat-select [disabled]="true" formControlName="deviceType">
                                <mat-option [value]="device?.id" *ngFor="let device of thirdParties">
                                    {{device?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-5 col-lg-5
                    ">
                        <mat-label class="matlabel" *ngIf="i === 0">{{ "active-patients-module.form_label.third_party_device_id" | translate }}
                        </mat-label>
                        <mat-form-field appearance="fill" floatLabel="never" class="device-id formfield-control" [class.disabled]="!item.controls.deviceType.value">
                            <input autocomplete="off" type="text" matInput formControlName="deviceId" (keyup)="addClass($event, i)" (keypress)="alphaNumericsOnly($event)" maxlength="32" [readonly]="!item.controls.deviceType.value" />
                            <mat-icon matSuffix color="primary" *ngIf="item.controls.deviceId.value && !isDisabled" (click)="clearId(item, 'deviceId')">close</mat-icon>
                            <!--                            <button mat-flat-button matSuffix *ngIf="!isDisabled && deviceIds.getRawValue()[i]?.deviceId" type="button" color="primary" class="biosenser-checked">-->
                            <!--                                <mat-icon>check</mat-icon>-->
                            <!--                            </button>-->
                            <mat-error *ngIf="!newPatientForm.get('deviceIds').valid">
                                {{"active-patients-module.errors.thirdPartyPattern" | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button class="mx-2 mb-4 btn-boxed btn-no-shadow" [matTooltip]="'active-patients-module.form_label.delete_third_party_device' | translate" mat-mini-fab color="primary" (click)="delete(i)" *ngIf="!isDisabled && (i !==0 || deviceIds.getRawValue()[i]?.deviceId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button class="mx-2 mb-4 btn-boxed btn-no-shadow" [matTooltip]="'active-patients-module.form_label.add_third_party_device' | translate" mat-mini-fab color="primary" (click)="addNewRow()" *ngIf="i === deviceIds.controls.length-1 && !isDisabled && (thirdPartyDevices() | async)?.length - 1 === deviceIds.controls.length && item.controls.deviceId.value && item.controls.deviceType.value">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="required-all">
            <span>{{
                "active-patients-module.form_label.mandatory" | translate
                }}</span>

        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="mx-4">
    <button mat-flat-button mat-dialog-close color="warn" class="fill-btn">
        {{ "active-patients-module.button.cancel" | translate }}
    </button>
    <span (click)="submitted=true">
    <button mat-flat-button color="primary" class="fill-btn" (click)="savePatientDetails(newPatientForm)">
        {{ "active-patients-module.button.save" | translate }}
    </button>
    </span>
</mat-dialog-actions>
