<div class="dialog-header">
  <h1>Are you sure?</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="mt-4">
    <label class="info-text">
      {{ data.dialogueData?.body }}
    </label>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close class="fill-btn" color="warn">
    Cancel
  </button>
  <button mat-flat-button class="fill-btn" (click)="onConfirm()" color="primary">
    Confirm
  </button>
</div>
