<mat-card class="dialog-header">
  <h1 mat-dialog-title>
    {{ clinicalFacilityData["id"] }} &nbsp;|&nbsp;
    {{ "clinical_facility.manage_admin_cfa.label_cfa_admin" | translate }}
     {{ "clinical_facility.manage_admin_cfa.for" | translate }}
     {{ clinicalFacilityName }}
  </h1>
  <button mat-button mat-dialog-close class="me-3">
    <mat-icon>close</mat-icon>
  </button>
</mat-card>

<mat-dialog-content class="mat-dialog-popup p-0">
  <div class="container-fluid">
    <app-data-table-manage-admin class="manage-admin-table custom-table"
      [endUrl]="endUrl"
      (addAdminCallBack)="openAddAdminDialog()"
      (editCallBack)="openEditAdminDialog($event)"
       (sortChange) = "onSortChange($event)"
      source="CFA"
    ></app-data-table-manage-admin>
    <app-data-table-cloned-view *ngIf="adminClone?.length" class="manage-admin-table manage-cloneview-table custom-table"
                                [adminUsers]="adminClone"></app-data-table-cloned-view>
  </div>
</mat-dialog-content>
