@import "src/assets/scss/modules/variables";
@import "src/assets/scss/modules/mixins";

.biosensor-id {
    width: 3.5rem;
    text-align: left;
}


/** table bg color ***/

.mat-discharge-table {
    //background-color: $tab-bg-color;
    //padding: 0 1rem 1rem;
    //border-radius: 0.5rem;
    position: relative;
}

/*::ng-deep .scroll-assist {
    max-height: calc(100vh - 300px) !important;
}*/
.btn-boxed.px-2{
    min-width: auto;
    height: 2rem !important;
  
}
.clear-icon {
    position: absolute;
    margin-top: 0.3rem;
    right: 0rem;
}
.patch-input{
    text-transform: uppercase;
}