@import "src/assets/scss/modules/variables";

/** modal popup */

.mat-dialog-popup {
    &.hospital-group-dialog {
        .hospital-group-content {
            padding: 1rem 0;
            .align-items-center {
                h2 {
                    font-size: 1rem;
                    margin: 0rem;
                    padding: 0rem;
                }
            }
        }
    }
}
