@import "src/assets/scss/modules/variables";

.label-top {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: $white;
}
.note-icon {
  margin-left: 3px;
}
.number-top {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $white;
}

.span1 {
  margin-left: 10px;
  position: fixed;
  color: white;
}

.span2 {
  position: fixed;
  color: white;
  margin-left: 95px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.25px;
}

.span3 {
  font-style: italic;
  font-weight: normal;
  font-size: 8px;
  line-height: 20px;
  /* identical to box height, or 250% */

  letter-spacing: 0.25px;

  color: $time-color;
}

.span4 {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.vl {
  position: fixed;
  margin-left: 80px;
  border-left: 0.1px solid white;
  height: 38px;

  .hourtxt {
    font-style: normal;
    font-weight: bold !important;
    font-size: 14px;
    line-height: 16px;
  }
}

.ackdata {
  font-size: $size-12;
  display: block;
    line-height: 1rem;
}

/*.inside-div {
  height: 350px;
}*/

.last-updated {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.25px;
  color: $white;
  opacity: 0.8;
}

.btn-add-event {
  width: 130px;
  height: 40px !important;
  margin-left: 20px;
  margin-top: 0 !important;
}

table {
  //border-collapse: separate;
  //border-spacing: 0 .7em;
  width: 100%;
  overflow: auto;
  //padding: 0px 10px 0px 10px;
}

.tbody-row {
  border-radius: 0.25rem;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.05em;
  border: none;
  padding: 10px !important;
}

.thead-row {
  border-radius: 8px 0px 0px 0px;
  padding-left: 20px !important;
}

thead {
  //border-bottom: 0.5px solid white !important;
  padding-bottom: 5px !important;
}

.tbody-row-upper {
  border-collapse: collapse;
}

.editbtn {
  width: 27px !important;
  height: 27px !important;
  background: $bg-button-color;
  box-shadow: $box-shadow-button;
  border-radius: 0.25rem;
  margin-left: 10px;
  border: none;
}

.edit-box {
  width: 150px !important;
  height: 30px !important;
  background: white;
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 5px;
  border: $border-search;
  color: $select-label-color;
}

.event-label {
  white-space: normal;
  //word-wrap: break-word;
  min-width: 300px;
  display: block;
}

.tbody-row-lower {
  border-collapse: collapse;
  border-top: 5px solid rgba(4, 60, 109, 0.4);
}

tbody tr {
  border-bottom: 7px solid $tab-bg-color  !important;
  font-size: $base-font-size;
}

.thead-event-number {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  color: $white;
}

.btn-table-header {
  width: 165px;
  height: 32px;
  /* left: 1076px; */
  /* top: 109px; */
  background: $bg-button-color;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 3px;
  border: none;
  margin-right: 20px;
}


.btn-class {
  float: right;
  margin-top: 3px;
  margin-right: 10px;
}

.btn-class1 {
  float: right;
  margin-top: 3px;
  margin-right: 10px;
  margin-bottom: 10px !important;
}

.event-col {
  padding-left: 40px !important;
}

/*thead th {
 border-bottom: 0.5px solid white !important;
}*/


