<ls-table
        [(config)]="config"
        [columns]="columns"
        [data]="parameterAlertSettings"
>
  <ng-template lsWidgetName="enabled" let-config>
      <span class="d-flex align-items-center">
        <mat-slide-toggle
                [(ngModel)]="config.Enabled"
                class="ms-1 me-2"
                (change)="toggle(config?.index)"
                [disabled]="!isEditAccess"
        >
        </mat-slide-toggle>
      </span>
  </ng-template>
  <ng-template lsWidgetName="alerts" let-config>
      {{ config.alert }} <span class="fw-normal" *ngIf="config.key !== 'POSTURE_ALERT'">({{ config.unit }})</span>
  </ng-template>
  <ng-template lsWidgetName="threshold" let-config>
      <span *ngIf="config.key !== 'POSTURE_ALERT'">
        <span *ngIf="!editThreshold[config?.index]"
              >{{ config.LowThr }} &lt;
            <span *ngIf="config.key !== 'SPO2'">
            <span class="fw-700">
              {{ "alert_config_module.or" | translate }} </span
            >&gt; {{ config.HighThr }}
            </span>
          </span>
        <div *ngIf="editThreshold[config?.index]" class="d-flex align-items-center justify-content-center">
            <input
            (keypress)="numericsOnly(config.key, $event)"
                     (paste)="alertService.checkForSpecialCharacters($event)"
                    matInput
                    digitOnly
                    autocomplete="off"
                    class="text-input-box py-1"
                    [(ngModel)]="config.LowThr"
                    (change)="
                parameterThresholdChanged(
                  config.index,
                  'LowThr',
                  parameterMinMax[config.key]
                )
              "
                    type="number"
                    [min]="parameterMinMax[config.key]['MIN']['LowThr']"
                    [max]="parameterMinMax[config.key]['MAX']['LowThr']"
                    (keydown)="limitChar(config.key, $event)"
                    [step]="config.key === 'BODYTEMP' || config.key === 'SKINTEMP' ? config.unit === '°C' ? 0.1 : 0.2 : 1"
            />
            <span class="ms-1"><</span>
            <span *ngIf="config.key !== 'SPO2'">
            <span class="me-1">{{ "alert_config_module.or" | translate }}&gt;</span>
            <input
                    (keypress)="numericsOnly(config.key, $event)"
                    (paste)="alertService.checkForSpecialCharacters($event)"
                    matInput
                    digitOnly
                    autocomplete="off"
                    class="text-input-box py-1"
                    [(ngModel)]="config.HighThr"
                    type="number"
                    (keydown)="limitChar(config.key, $event)"
                    [min]="parameterMinMax[config.key]['MIN']['HighThr']"
                    [max]="parameterMinMax[config.key]['MAX']['HighThr']"
                    [step]="config.key === 'BODYTEMP' || config.key === 'SKINTEMP' ? config.unit === '°C' ? 0.1 : 0.2 : 1"
                    (change)="
                parameterThresholdChanged(
                  config.index,
                  'HighThr',
                  parameterMinMax[config.key]
                )
              "
            />
            </span>
          </div>
      </span>
      <span  *ngIf="config.key === 'POSTURE_ALERT'">
<!--        <mat-form-field appearance="fill" class="whiteselect selectfilter posture-select">-->
<!--          <mat-select [(ngModel)]="config.HighThr" class="mat-sel" [disabled]="!isEditAccess || !config.Enabled" (selectionChange)="updated()">-->
<!--              <mat-option *ngFor="let posture of postures;let i=index" [value]="i"> {{posture}}</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
          -
      </span>
  </ng-template>
  <ng-template lsWidgetName="editThreshold" let-config>
      <span *ngIf="config.key !== 'POSTURE_ALERT'">
        <span *ngIf="!editThreshold[config?.index]">
            <button
                    *ngIf="!editThreshold[config?.index] && isEditAccess"
                    mat-mini-fab
                    color="primary"
                    class="btn-boxed btn-no-shadow"
                    [disabled]="!config.Enabled"
                    (click)="showHideEdit(config?.index, 'threshold')"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </span>
        <span *ngIf="editThreshold[config?.index]">
            <button
                    mat-mini-fab
                    color="primary"
                    class="btn-boxed btn-no-shadow"
                    (click)="showHideEdit(config?.index, 'threshold')"
            >
              <mat-icon>done</mat-icon>
            </button>
          </span>
      </span>
  </ng-template>
  <ng-template lsWidgetName="priority" let-config>
      <span class="me-1 priority-card ">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16" cy="16" r="8" [attr.fill]="priorityHexCode[config.Priority]"/>
                <circle *ngIf="config?.Priority?.toUpperCase() !== 'LOW'" cx="16" cy="16" r="12" [attr.stroke]="priorityHexCode[config.Priority]" stroke-width="2" stroke-dasharray="4 4"/>
              </svg>
              &nbsp;   <span *ngIf="!editPrior[config.index]">{{ config.Priority }}</span>
                  <span *ngIf="editPrior[config.index]">
                  <mat-select
                    placeholder="Select"
                    class="priority-drop-down"
                    [(ngModel)]="config.Priority"
                    (selectionChange)="updated()">
                    <mat-option
                      *ngFor="let priority of alertPriority"
                      [value]="priority.value"
              >
                {{ priority.label }}
              </mat-option>
                    </mat-select>
                  </span>
      </span>
  </ng-template>
  <ng-template lsWidgetName="editPriority" let-config>
      <ng-container>
                      <span>
                          <span *ngIf="!editPrior[config.index]">
            <button
                    *ngIf="isEditAccess"
                    mat-mini-fab
                    color="primary"
                    class="btn-boxed btn-no-shadow"
                    (click)="showHideEdit(config.index, 'priority')"
                    [disabled]="!config.Enabled"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </span>
                          <span *ngIf="editPrior[config.index]">
            <button
                    mat-mini-fab
                    color="primary"
                    class="btn-boxed btn-no-shadow"
                    (click)="showHideEdit(config.index, 'priority')"
            >
              <mat-icon>done</mat-icon>
            </button>
          </span>
                      </span>
      </ng-container>
  </ng-template>
  <ng-template lsWidgetName="delayTime" let-config>
      <div class="d-flex justify-content-around align-items-center" *ngIf="config.key !== 'BPSYS' && config.key !== 'BPDIA' && config.key !=='BP'">
          <div class="d-flex ack-column justify-content-center align-items-center">
              <div class="d-flex justify-content-center align-items-center">
                  <div *ngIf="!editDelay[config.index]" class="text-value align-items-center justify-content-end">
                      {{ config.CondDelay }} <span *ngIf="config.key !== 'POSTURE_ALERT'">{{'alert_config_module.secs' | translate}}</span>
                      <span *ngIf="config.key === 'POSTURE_ALERT'">{{'alert_config_module.hrs' | translate}}</span>
                  </div>
                  <div *ngIf="editDelay[config.index]">
                     <input
                     (keypress)="numericsOnly(config.key, $event)"
                     (paste)="alertService.checkForSpecialCharacters($event)"
                    matInput
                    autocomplete="off"
                    type="number"
                    digitOnly
                    class="text-input-box py-1"
                    size="4"
                    (change)="
                parameterThresholdChanged(
                  config.index,
                  'CondDelay',
                  parameterMinMax[config.key]
                )
              "
                    [min]="parameterMinMax[config.key]['MIN']['CondDelay']"
                    [max]="parameterMinMax[config.key]['MAX']['CondDelay']"
                    [(ngModel)]="config.CondDelay"
            />
                  </div>
                  <ng-container *ngIf="isEditAccess">
                      <div class="ms-2 edit">
                          <button
                                  *ngIf="!editDelay[config.index]"
                                  mat-mini-fab
                                  color="primary"
                                  class="btn-boxed btn-no-shadow"
                                  [disabled]="!config.Enabled"
                                  (click)="showHideEdit(config.index, 'delay')"
                          >
                              <mat-icon>edit</mat-icon>
                          </button>
                          <button
                                  *ngIf="editDelay[config.index]"
                                  mat-mini-fab
                                  color="primary"
                                  class="btn-boxed btn-no-shadow"
                                  (click)="showHideEdit(config.index, 'delay')"
                          >
                              <mat-icon>done</mat-icon>
                          </button>
                      </div>
                  </ng-container>
              </div>
          </div>
      </div>
      <div class="d-flex justify-content-around align-items-center" *ngIf="config.key === 'BPSYS' || config.key === 'BPDIA' || config.key ==='BP'">
          -
      </div>
  </ng-template>
  <ng-template lsWidgetName="modified" let-config>
    <span *ngIf="masterData?.modifiedDateTime">
      {{ masterData?.modifiedDateTime+ '+0000' | date : "MMM dd, yyyy " + timeFmt : timeZone }}
    </span><br />
    <span *ngIf="!isBlank(masterData?.modifiedBy)"
    >by {{ masterData?.modifiedBy }}</span
    >
  </ng-template>
  <ng-template lsWidgetName="spacer">
  </ng-template>
</ls-table>
